body {
	padding-top: 56px;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.fill {
	flex: 1;
}

a.page-link {
	cursor: pointer;
}

tbody tr {
	cursor: pointer;
}

.modal-body dt{
font-size: 1.3em;
}
.modal-body dd{
font-size: 1.5em;
}